.noir-theme {
	--color-accent: hsl(208, 100%, 57%);
	--color-accent-faint: hsl(208, 100%, 64%);
	--color-accent-deep: hsl(208, 100%, 47%);
	--color-ink: hsl(0, 0%, 90%);
	--color-ink-dull: hsl(0, 0%, 70%);
	--color-ink-faint: hsl(0, 0%, 50%);
	--color-sidebar: hsl(0, 0%, 0%);
	--color-sidebar-box: hsl(0, 0%, 4%);
	--color-sidebar-line: hsl(0, 0%, 12%);
	--color-sidebar-ink: hsl(0, 0%, 90%);
	--color-sidebar-ink-dull: hsl(0, 0%, 70%);
	--color-sidebar-ink-faint: hsl(0, 0%, 50%);
	--color-sidebar-divider: hsl(0, 0%, 5%);
	--color-sidebar-button: hsl(0, 0%, 6%);
	--color-sidebar-selected: hsl(0, 0%, 12%);
	--color-sidebar-shade: hsl(0, 0%, 0%);
	--color-app: hsl(0, 0%, 3%);
	--color-app-box: hsl(0, 0%, 8%);
	--color-app-dark-box: hsl(0, 0%, 5%);
	--color-app-darker-box: hsl(0, 0%, 2%);
	--color-app-light-box: hsl(0, 0%, 18%);
	--color-app-overlay: hsl(0, 0%, 7%);
	--color-app-input: hsl(0, 0%, 10%);
	--color-app-focus: hsl(0, 0%, 2%);
	--color-app-line: hsl(0, 0%, 14%);
	--color-app-divider: hsl(0, 0%, 0%);
	--color-app-button: hsl(0, 0%, 12%);
	--color-app-hover: hsl(0, 0%, 14%);
	--color-app-selected: hsl(0, 0%, 16%);
	--color-app-selected-item: hsl(0, 0%, 8%);
	--color-app-active: hsl(0, 0%, 18%);
	--color-app-shade: hsl(0, 0%, 0%);
	--color-app-frame: hsl(0, 0%, 14%);
	--color-app-slider: hsl(0, 0%, 10%);
	--color-app-explorer-scrollbar: hsl(0, 0%, 18%);
	--color-menu: hsl(0, 0%, 2%);
	--color-menu-line: hsl(0, 0%, 8%);
	--color-menu-ink: hsl(0, 0%, 90%);
	--color-menu-faint: hsl(0, 0%, 70%);
	--color-menu-hover: hsl(0, 0%, 16%);
	--color-menu-selected: hsl(0, 0%, 18%);
	--color-menu-shade: hsl(0, 0%, 0%);
}
