.slate-theme {
	--color-accent: hsl(208, 100%, 57%);
	--color-accent-faint: hsl(208, 100%, 64%);
	--color-accent-deep: hsl(208, 100%, 47%);
	--color-ink: hsl(220, 10%, 88%);
	--color-ink-dull: hsl(220, 5%, 65%);
	--color-ink-faint: hsl(220, 5%, 50%);
	--color-sidebar: hsl(220, 10%, 6%);
	--color-sidebar-box: hsl(220, 8%, 10%);
	--color-sidebar-line: hsl(220, 8%, 16%);
	--color-sidebar-ink: hsl(220, 10%, 88%);
	--color-sidebar-ink-dull: hsl(220, 5%, 65%);
	--color-sidebar-ink-faint: hsl(220, 5%, 50%);
	--color-sidebar-divider: hsl(220, 10%, 8%);
	--color-sidebar-button: hsl(220, 8%, 11%);
	--color-sidebar-selected: hsl(220, 10%, 18%);
	--color-sidebar-shade: hsl(220, 10%, 0%);
	--color-app: hsl(220, 8%, 9%);
	--color-app-box: hsl(220, 8%, 13%);
	--color-app-dark-box: hsl(220, 10%, 10%);
	--color-app-darker-box: hsl(220, 10%, 7%);
	--color-app-light-box: hsl(220, 8%, 22%);
	--color-app-overlay: hsl(220, 8%, 12%);
	--color-app-input: hsl(220, 8%, 15%);
	--color-app-focus: hsl(220, 10%, 7%);
	--color-app-line: hsl(220, 8%, 18%);
	--color-app-divider: hsl(220, 10%, 4%);
	--color-app-button: hsl(220, 8%, 17%);
	--color-app-hover: hsl(220, 8%, 19%);
	--color-app-selected: hsl(220, 8%, 21%);
	--color-app-selected-item: hsl(220, 8%, 13%);
	--color-app-active: hsl(220, 8%, 23%);
	--color-app-shade: hsl(220, 10%, 0%);
	--color-app-frame: hsl(220, 8%, 19%);
	--color-app-slider: hsl(220, 8%, 15%);
	--color-app-explorer-scrollbar: hsl(220, 8%, 22%);
	--color-menu: hsl(220, 10%, 7%);
	--color-menu-line: hsl(220, 8%, 12%);
	--color-menu-ink: hsl(220, 10%, 88%);
	--color-menu-faint: hsl(220, 5%, 70%);
	--color-menu-hover: hsl(220, 8%, 20%);
	--color-menu-selected: hsl(220, 8%, 22%);
	--color-menu-shade: hsl(220, 10%, 0%);
}
